.plansContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.plansContainer:hover {
  opacity: 1;
}

.plansContainer > button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.planScreenDisabled > button {
  background-color: gray !important;
  cursor: unset;
}
